span.glyphicon {
    font-size: 1.75em;
    margin-left: 14px;
    margin-top: 8px;
}

.glyphicon-remove {
    color: red;
}

.glyphicon-plus {
    color: green;
}

#menu    {
    right: 0px;
    top: 0px;
    position: absolute;
    z-index: 1;
}

#excel-options-show {
    width: 100%;
    text-align: center;
    display: block;
    margin-bottom: 8px;
}

.clickable {
    cursor: pointer;
}

#progress-bar {
    animation: 0.2s linear 0s normal none infinite progress-bar-stripes;
    transition: width 0.25s !important;
}

.jumbotron {
    background-color: #ffffff32;
    color: #fff;
}

body {
    background-image: linear-gradient(to right, #fff, #9954bb);
    height: 100%;
    margin: 0;
}

html {
    height: 100%;
}

a:link {
    color: #15569f;
}

a:visited {
    color: #15569f;
}

a:hover {
    color: #9954bb;
    text-decoration: none;
}

a:active {
    color: #9954bb;
    text-decoration: none;
}