span.glyphicon {
    font-size: 1.75em;
    margin-left: 14px;
    margin-top: 8px;
}

.glyphicon-remove {
    color: red;
}

.glyphicon-plus {
    color: green;
}

#menu    {
    right: 0px;
    top: 0px;
    position: absolute;
    z-index: 1;
}

#progress-bar {
    animation: 0.2s linear 0s normal none infinite progress-bar-stripes;
    transition: width 0.25s !important;
}
