doctype html
html(lang='en')
    include head
    body
        include menu
        .container.col-xs-10.col-xs-offset-1.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
            .jumbotron
                h1 Success!
                p
                    | Imported #{context.imported} rows from '#{context.file}' into #{context.index} successfully.
                    button.btn.btn-success.btn-block#start-page ANOTHER FILE
        include scripts