doctype html
html(lang='en')
    include head
    body
        include menu
        .container.col-xs-12.col-lg-8.col-lg-offset-2
            .jumbotron
                h1 There was an error uploading the file
                pre=context.message
                p
                    button.btn.btn-danger.btn-block#start-page TRY ANOTHER FILE
        include scripts
