.dropdown#menu
    button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
        | Application menu&nbsp;
        span.caret
    ul.dropdown-menu
        li
            a(href='#')#add-window New window
        li
            a(href='https://www.elastic.co/products/elasticsearch', target='_blank') ElasticSearch
        li
            a(href='https://www.elastic.co/products/kibana', target='_blank') Kibana
        li
            a(href='https://github.com/codingchili/parser-excel-elasticsearch', target='_blank') GitHub!
        li
            a(href='.')#close-window Close